.navbar {
    background-color: rgb(215, 226, 223);
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0.8rem;
    padding-top: 1.2rem;
    padding-left: 2%;
    padding-right: 2%;
}

.FiMenu{
    display: flex;
}

.FiMenu div {
    margin-left: 0.8rem;
}

.search {
    background-color: #f0f0f0;
    display: flex;
    align-items:center;
    width: 35%;
    height: 1.7rem;
    padding: 5px;
    border-radius: 4px;
}

.search input {
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    border: none;
    padding: auto;
    outline: none;
}

.searchIcon{
    color: gray;
}

.navbarprofile {
    width: 10%;
    height: 1.7rem;
    gap: 0.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon1{
    height: 80%;
    width: fit-content;
    cursor: pointer;
}

.icon2 {
    width: fit-content;
    height: 95%;
    cursor: pointer;
}


.login{
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}

.login:hover{
    color: rgb(45, 32, 32);
    text-decoration: underline;
    text-decoration-color:purple;
    text-decoration-thickness: 2px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}